data/cifar-10-python.tar.gz
data/cifar-10-batches-py/batches.meta
data/cifar-10-batches-py/data_batch_1
data/cifar-10-batches-py/data_batch_2
data/cifar-10-batches-py/data_batch_3
data/cifar-10-batches-py/data_batch_4
data/cifar-10-batches-py/data_batch_5
data/cifar-10-batches-py/test_batch
data
logs/Empirical/scratch/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1696784958.n107
models/__pycache__/cifar_resnet.cpython-311.pyc
models/__pycache__/ensemble.cpython-311.pyc
models/__pycache__/lenet.cpython-311.pyc
models/__pycache__/resnet.cpython-311.pyc
train/Empirical/__pycache__/trainer.cpython-311.pyc
utils/Empirical/__pycache__/architectures.cpython-311.pyc
utils/Empirical/__pycache__/attack.cpython-311.pyc
utils/Empirical/__pycache__/datasets.cpython-311.pyc
utils/Empirical/__pycache__/utils_ensemble.cpython-311.pyc
utils/Empirical/third_party/__pycache__/distillation.cpython-311.pyc
logs/Empirical/resume/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.0
logs/Empirical/resume/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.1
logs/Empirical/resume/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.2
logs/Empirical/resume/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.3
logs/Empirical/resume/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.4
logs/Empirical/resume/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1696851377.n104
logs/Empirical/resume/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1696852071.n104
logs/Empirical/resume/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1696852121.n104
logs/Empirical/resume/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1696852462.n104
logs/Empirical/scratch/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.0
logs/Empirical/scratch/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.1
logs/Empirical/scratch/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.2
logs/Empirical/scratch/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.3
logs/Empirical/scratch/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.4
logs/Empirical/scratch/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1696850771.n106
logs/Empirical/scratch/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1696852570.n104
logs/Empirical/scratch/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1696853711.n105
logs/Empirical/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1696994625.n109
logs