data/cifar-10-python.tar.gz
data/cifar-10-batches-py/batches.meta
data/cifar-10-batches-py/data_batch_1
data/cifar-10-batches-py/data_batch_2
data/cifar-10-batches-py/data_batch_3
data/cifar-10-batches-py/data_batch_4
data/cifar-10-batches-py/data_batch_5
data/cifar-10-batches-py/test_batch
data
logs/Empirical/scratch/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1696784958.n107
models/__pycache__/cifar_resnet.cpython-311.pyc
models/__pycache__/ensemble.cpython-311.pyc
models/__pycache__/lenet.cpython-311.pyc
models/__pycache__/resnet.cpython-311.pyc
train/Empirical/__pycache__/trainer.cpython-311.pyc
utils/Empirical/__pycache__/architectures.cpython-311.pyc
utils/Empirical/__pycache__/attack.cpython-311.pyc
utils/Empirical/__pycache__/datasets.cpython-311.pyc
utils/Empirical/__pycache__/utils_ensemble.cpython-311.pyc
utils/Empirical/third_party/__pycache__/distillation.cpython-311.pyc
logs/Empirical/resume/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.0
logs/Empirical/resume/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.1
logs/Empirical/resume/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.2
logs/Empirical/resume/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.3
logs/Empirical/resume/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.4
logs/Empirical/resume/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1696851377.n104
logs/Empirical/resume/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1696852071.n104
logs/Empirical/resume/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1696852121.n104
logs/Empirical/resume/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1696852462.n104
logs/Empirical/scratch/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.0
logs/Empirical/scratch/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.1
logs/Empirical/scratch/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.2
logs/Empirical/scratch/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.3
logs/Empirical/scratch/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.4
logs/Empirical/scratch/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1696850771.n106
logs/Empirical/scratch/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1696852570.n104
logs/Empirical/scratch/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1696853711.n105
logs/Empirical/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1696994625.n109
logs
models/__pycache__/ensemble.cpython-310.pyc
train/Empirical/apgd/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.0
train/Empirical/apgd/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.1
train/Empirical/apgd/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.2
train/Empirical/apgd/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.3
train/Empirical/apgd/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.4
train/Empirical/apgd/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1697088040.n109
train/Empirical/apgd/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1697382318.n105
train/Empirical/apgd/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1697551666.n100
train/Empirical/apgd/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1697804260.n100
train/Empirical/apgd/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1697804534.n100
train/Empirical/apgd/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1698035452.n100
train/Empirical/apgd/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1698044336.n100
train/Empirical/apgd/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1698495665.n100
train/Empirical/apgd/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1698631438.n111
train/Empirical/apgd/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1701023088.n242
train/Empirical/apgd/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1701023200.n242
train/Empirical/arc/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.0
train/Empirical/arc/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.1
train/Empirical/arc/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.2
train/Empirical/arc/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.3
train/Empirical/arc/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.4
train/Empirical/arc/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1697088037.n105
train/Empirical/arc/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1697551666.n100
train/Empirical/arc/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1697804260.n100
train/Empirical/arc/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1698035452.n100
train/Empirical/arc/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1698044336.n100
train/Empirical/arc/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1698048657.n100
train/Empirical/arc/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1698495665.n112
train/Empirical/arc/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1698631438.n100
train/Empirical/resume/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.0
train/Empirical/resume/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.1
train/Empirical/resume/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.2
train/Empirical/resume/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.3
train/Empirical/resume/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.4
train/Empirical/resume/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1696851377.n104
train/Empirical/resume/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1696852071.n104
train/Empirical/resume/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1696852121.n104
train/Empirical/resume/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1696852462.n104
train/Empirical/scratch/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.0
train/Empirical/scratch/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.1
train/Empirical/scratch/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.2
train/Empirical/scratch/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.3
train/Empirical/scratch/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.4
train/Empirical/scratch/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1696784958.n107
train/Empirical/scratch/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1696850771.n106
train/Empirical/scratch/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1696852570.n104
train/Empirical/scratch/cifar10/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1696853711.n105
train/Empirical/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.0
train/Empirical/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.1
train/Empirical/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.2
train/Empirical/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.3
train/Empirical/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/checkpoint.pth.tar.4
train/Empirical/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1696994625.n109
train/Empirical/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1696995468.n109
train/Empirical/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1696995558.n109
train/Empirical/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1696995729.n109
train/Empirical/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1696996117.n109
train/Empirical/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1696996778.n109
train/Empirical/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1696997187.n109
train/Empirical/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1696997329.n109
train/Empirical/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1697002706.n109
train/Empirical/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1697002755.n105
train/Empirical/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1697004240.n109
train/Empirical/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1697015397.n105
train/Empirical/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1697015397.n109
train/Empirical/scratch/mnist/trs/vanilla_2.0_2.0_5.0/0.0-0.0/events.out.tfevents.1697039268.n110
utils/Empirical/__pycache__/architectures.cpython-310.pyc
utils/Empirical/__pycache__/attack.cpython-310.pyc
utils/Empirical/__pycache__/utils_ensemble.cpython-310.pyc
train/Empirical/__pycache__/trainer.cpython-310.pyc
